{% extends 'base.html.twig' %}

{% block title %}Borrowing index{% endblock %}

{% block body %}
    <h1 class="display-4">Borrowing index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                   <th>Student</th>
                <th>DateBorrowed</th>
                <th>BookReturned</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrowing in borrowings %}
            <tr>
                <td>{{ borrowing.id }}</td>
                 <td>{{ borrowing.Student }}</td>
                <td>{{ borrowing.dateBorrowed ? borrowing.dateBorrowed|date('Y-m-d') : '' }}</td>
                <td>{{ borrowing.bookReturned ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_borrowing_show', {'id': borrowing.id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_borrowing_edit', {'id': borrowing.id}) }}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    
    <a href="{{ path('app_borrowing_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
